<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head'); %>
<body>

  <input id="input" type="hidden" value="<%= status %>">
  <input id="url" type="hidden" value="<%= url %>">

  <script src="js/sweetalert2.js"></script>
  <script>
    
    function sweetSuccess(str) {
      Swal.fire({
        position: 'center',
        type: 'success',
        title: str,
        showConfirmButton: false,
        timer: 1500
      })
    }

    let input = $('#input').val();
    let url = $('#url').val();

    let interval = setInterval(() => {
      switch (input) {
        case "pesan-sukses":
          sweetSuccess('Terima kasih telah memesan!');
          break;
        case "hapus-berhasil":
          sweetSuccess('Berhasil menghapus!');
          break;
        case "terimakasih":
          sweetSuccess('Terima kasih! :)');
          break;
      }
      
      setInterval(() => {
        window.location.href = url;
      }, 1000);
      clearInterval(interval);
    }, 250);
    

  </script>

</body>
</html>