<!DOCTYPE html>
<html lang="en">
<%- include('templates/head'); %>
<body>

<%- include('templates/navbar-repairman'); %>
  <div class="jumbotron">
    <div class="ava-img">
      <img src="<%= data.photo %>" alt="ava1">
    </div>
  </div>

<div class="container">
  <table>
    <tr>
      <td><h2>Rating :</h2></td>
      <td style="padding: 0 10px"></td>
      <td>
        <% let total = 0;
        for (let i = 0; i < data.rating; i++) { %>
          <span class="fa fa-star checked" style="color: orange"></span>
        <% } 
        for (let i = total; i < 5; i++) { %>
          <span class="fa fa-star"></span>
        <% } %>
      </td>
    </tr>
  </table>
</div>
    
  <section id="history-order">
    <div class="container">
    </div>
  </section>
</body>
</html>