<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head'); %>
<body>

  <%- include('templates/navbar', {username, home: true}); %>

  <section id="big-box">
    <div class="container">
      <div class="row">
      <% repairman.forEach((el) => { %>
        <%- include('templates/card-repairman', {id: el.id, name: el.username, specialist: el.specialist, cost: el.cost, rating: el.rating, avatar: el.avatar}); %>
      <% }) %>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
          <div class="modal-body">
            <input type="hidden" name="repairman_id">
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="specialist">
            <div class="input-group flex-nowrap">
              <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="far fa-calendar-check"></i></span>
              </div>
              <input class="datepicker form-control" name="date" required>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">HIRE NOW!</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    function transDataModal(data) {
      let id = data.getAttribute("temp-id");
      let specialist = data.getAttribute("temp-specialist");
      $('.modal .modal-body input[name=repairman_id]').val(id);
      $('.modal .modal-body input[name=specialist]').val(specialist);
    }

    $(".datepicker").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
    });
  </script>
</body>
</html>